<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="TvoMpower" configfailurepolicy="continue">
  <test name="CrossBrowser Test" >
  	<parameter name= "browser" value="chrome" />
    <classes>
    	 <class name="com.tvoMpower.testcases.TC001_crossBrowser" />
  	    <!--  <class name="com.tvoMpower.testcases.TC002_RequiredFields" />-->
  	    <!--<class name="com.tvoMpower.testcases.TC003_EmailValidation" />-->
  	    <!--<class name="com.tvoMpower.testcases.TC004_TitleValidation" />-->
     	<!-- <class name="com.tvoMpower.testcases.TC005_PasswordValidation" />-->
     	<!--  <class name="com.tvoMpower.testcases.TC006_SubmitButton"/>-->
     	<!-- <class name="com.tvoMpower.testcases.TC008_SelectCheckbox"/>-->
     	<!--  <class name="com.tvoMpower.testcases.TC007_CheckBox"/>-->
     	<!-- <class name="com.tvoMpower.testcases.TC009_Hyperlink"/>-->
     	<!-- <class name="com.tvoMpower.testcases.TC010_BrokenLinkvalidation"/>-->
       
     
    </classes>
  </test>
</suite>